@media screen and (max-width: 640px) {

    .relap{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


     .links input{
        display: block;
    }

    header nav a{
        display: none;
    }

    .alinha-icones{
        display: flex;
        justify-content: space-evenly;
    }





}